# United States Hate Crime Data Profile

### This Script Contains:
#### 01. Importing Data
#### 02. Data Cleaning

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 1. Importing Data

In [2]:
# turn folders into string
path = r'C:\\Users\\Jamie&Ken\\Desktop\\Data Analytics Course\\Advanced Analytics & Dashboard Design\\10-2024 American Hate Crime'
# Import data
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'hate_crime.csv'), low_memory=False)

In [3]:
# checking data
df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,NaN,City,AR,Arkansas,West South Central,South,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [4]:
# checking data types
df.dtypes

INCIDENT_ID                   int64
DATA_YEAR                     int64
ORI                          object
PUB_AGENCY_NAME              object
PUB_AGENCY_UNIT              object
AGENCY_TYPE_NAME             object
STATE_ABBR                   object
STATE_NAME                   object
DIVISION_NAME                object
REGION_NAME                  object
POPULATION_GROUP_CODE        object
POPULATION_GROUP_DESC        object
INCIDENT_DATE                object
ADULT_VICTIM_COUNT          float64
JUVENILE_VICTIM_COUNT       float64
TOTAL_OFFENDER_COUNT          int64
ADULT_OFFENDER_COUNT        float64
JUVENILE_OFFENDER_COUNT     float64
OFFENDER_RACE                object
OFFENDER_ETHNICITY           object
VICTIM_COUNT                  int64
OFFENSE_NAME                 object
TOTAL_INDIVIDUAL_VICTIMS    float64
LOCATION_NAME                object
BIAS_DESC                    object
VICTIM_TYPES                 object
MULTIPLE_OFFENSE             object
MULTIPLE_BIAS                object
dtype: object

In [5]:
# Change 'Incident_ID' to string
df['INCIDENT_ID']=df['INCIDENT_ID'].astype('str')

In [6]:
# checking dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201403 entries, 0 to 201402
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   INCIDENT_ID               201403 non-null  object
 1   DATA_YEAR                 201403 non-null  int64
 2   ORI                       201403 non-null  object
 3   PUB_AGENCY_NAME           201403 non-null  object
 4   PUB_AGENCY_UNIT           5594 non-null    object
 5   AGENCY_TYPE_NAME          201403 non-null  object
 6   STATE_ABBR                201403 non-null  object
 7   STATE_NAME                201403 non-null  object
 8   DIVISION_NAME             201403 non-null  object
 9   REGION_NAME               201403 non-null  object
 10  POPULATION_GROUP_CODE     201403 non-null  object
 11  POPULATION_GROUP_DESC     201403 non-null  object
 12  INCIDENT_DATE             201403 non-null  object
 13  ADULT_VICTIM_COUNT        35973 non-null   float64
 14  JUVENILE_VICTIM_COUNT     35496 non-null   float64
 15  TOTAL_OFFENDER_COUNT      201403 non-null  int64
 16  ADULT_OFFENDER_COUNT      33952 non-null   float64
 17  JUVENILE_OFFENDER_COUNT   33945 non-null   float64
 18  OFFENDER_RACE             201384 non-null  object
 19  OFFENDER_ETHNICITY        18150 non-null   object
 20  VICTIM_COUNT              201403 non-null  int64
 21  OFFENSE_NAME              201403 non-null  object
 22  TOTAL_INDIVIDUAL_VICTIMS  199797 non-null  float64
 23  LOCATION_NAME             201403 non-null  object
 24  BIAS_DESC                 201403 non-null  object
 25  VICTIM_TYPES              201403 non-null  object
 26  MULTIPLE_OFFENSE          201403 non-null  object
 27  MULTIPLE_BIAS             201403 non-null  object
dtypes: float64(5), int64(3), object(20)
memory usage: 43.0+ MB

In [7]:
# Checking shape
df.shape

(201403, 28)

In [8]:
df.describe()

,DATA_YEAR,ADULT_VICTIM_COUNT,JUVENILE_VICTIM_COUNT,TOTAL_OFFENDER_COUNT,ADULT_OFFENDER_COUNT,JUVENILE_OFFENDER_COUNT,VICTIM_COUNT,TOTAL_INDIVIDUAL_VICTIMS
count,201403.000000,35973.000000,35496.000000,201403.000000,33952.000000,33945.000000,201403.000000,199797.000000
mean,2004.200906,0.504656,0.064683,0.969112,0.422449,0.083046,1.245647,0.973568
std,7.804374,0.972267,0.396970,1.387487,0.770693,0.436144,1.153782,1.107456
min,1991.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1998.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2004.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,2011.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,2018.000000,80.000000,40.000000,99.000000,30.000000,15.000000,200.000000,147.000000

### 02 Data Cleaning

In [9]:
# Check for missing data
df.isnull().sum()

INCIDENT_ID                      0
DATA_YEAR                        0
ORI                              0
PUB_AGENCY_NAME                  0
PUB_AGENCY_UNIT             195809
AGENCY_TYPE_NAME                 0
STATE_ABBR                       0
STATE_NAME                       0
DIVISION_NAME                    0
REGION_NAME                      0
POPULATION_GROUP_CODE            0
POPULATION_GROUP_DESC            0
INCIDENT_DATE                    0
ADULT_VICTIM_COUNT          165430
JUVENILE_VICTIM_COUNT       165907
TOTAL_OFFENDER_COUNT             0
ADULT_OFFENDER_COUNT        167451
JUVENILE_OFFENDER_COUNT     167458
OFFENDER_RACE                   19
OFFENDER_ETHNICITY          183253
VICTIM_COUNT                     0
OFFENSE_NAME                     0
TOTAL_INDIVIDUAL_VICTIMS      1606
LOCATION_NAME                    0
BIAS_DESC                        0
VICTIM_TYPES                     0
MULTIPLE_OFFENSE                 0
MULTIPLE_BIAS                    0
dtype: int64

In [10]:
# Change Offender_Race value to 'Unknown'
df['OFFENDER_RACE']=df['OFFENDER_RACE'].fillna('Unknown')

In [11]:
#Check for nulls
df['OFFENDER_RACE'].isnull().sum()

0

In [12]:
# For purpose of analysis, other columns are not useful as their purpose is similar to 'victim_count' and 'total_offender_count' which have no null values... Therefore these columns will be dropped
# Create subset
df.dropna(subset=['TOTAL_INDIVIDUAL_VICTIMS'], inplace = True)

In [13]:
#Drop irrelevant colums or those with more than 95% missing
df.drop(columns = ['PUB_AGENCY_UNIT', 'OFFENDER_ETHNICITY','ADULT_OFFENDER_COUNT','JUVENILE_OFFENDER_COUNT','ADULT_VICTIM_COUNT','JUVENILE_VICTIM_COUNT'],axis =1, inplace = True)

In [14]:
df.isnull().sum()

INCIDENT_ID                 0
DATA_YEAR                   0
ORI                         0
PUB_AGENCY_NAME             0
AGENCY_TYPE_NAME            0
STATE_ABBR                  0
STATE_NAME                  0
DIVISION_NAME               0
REGION_NAME                 0
POPULATION_GROUP_CODE       0
POPULATION_GROUP_DESC       0
INCIDENT_DATE               0
TOTAL_OFFENDER_COUNT        0
OFFENDER_RACE               0
VICTIM_COUNT                0
OFFENSE_NAME                0
TOTAL_INDIVIDUAL_VICTIMS    0
LOCATION_NAME               0
BIAS_DESC                   0
VICTIM_TYPES                0
MULTIPLE_OFFENSE            0
MULTIPLE_BIAS               0
dtype: int64

In [15]:
# check for dupliactes
df_dups = df[df.duplicated()]

In [16]:
df_dups

Empty DataFrame
Columns: [INCIDENT_ID, DATA_YEAR, ORI, PUB_AGENCY_NAME, AGENCY_TYPE_NAME, STATE_ABBR, STATE_NAME, DIVISION_NAME, REGION_NAME, POPULATION_GROUP_CODE, POPULATION_GROUP_DESC, INCIDENT_DATE, TOTAL_OFFENDER_COUNT, OFFENDER_RACE, VICTIM_COUNT, OFFENSE_NAME, TOTAL_INDIVIDUAL_VICTIMS, LOCATION_NAME, BIAS_DESC, VICTIM_TYPES, MULTIPLE_OFFENSE, MULTIPLE_BIAS]
Index: []

[0 rows x 22 columns]

In [18]:
# Check for mixed data types
for col in df.columns.tolist():
    weird = (df[[col]].map(type)!= df[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df[weird]) > 0:
        print (col)

AttributeError: 'DataFrame' object has no attribute 'map'

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199797 entries, 0 to 201402
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   INCIDENT_ID               199797 non-null  object
 1   DATA_YEAR                 199797 non-null  int64
 2   ORI                       199797 non-null  object
 3   PUB_AGENCY_NAME           199797 non-null  object
 4   AGENCY_TYPE_NAME          199797 non-null  object
 5   STATE_ABBR                199797 non-null  object
 6   STATE_NAME                199797 non-null  object
 7   DIVISION_NAME             199797 non-null  object
 8   REGION_NAME               199797 non-null  object
 9   POPULATION_GROUP_CODE     199797 non-null  object
 10  POPULATION_GROUP_DESC     199797 non-null  object
 11  INCIDENT_DATE             199797 non-null  object
 12  TOTAL_OFFENDER_COUNT      199797 non-null  int64
 13  OFFENDER_RACE             199797 non-null  object
 14  VICTIM_COUNT              199797 non-null  int64
 15  OFFENSE_NAME              199797 non-null  object
 16  TOTAL_INDIVIDUAL_VICTIMS  199797 non-null  float64
 17  LOCATION_NAME             199797 non-null  object
 18  BIAS_DESC                 199797 non-null  object
 19  VICTIM_TYPES              199797 non-null  object
 20  MULTIPLE_OFFENSE          199797 non-null  object
 21  MULTIPLE_BIAS             199797 non-null  object
dtypes: float64(1), int64(3), object(18)
memory usage: 35.1+ MB

In [20]:
# Change d-type for incident date
df['INCIDENT_DATE'] = pd.to_datetime(df['INCIDENT_DATE'], format)

AssertionError:

In [21]:
# Check for change
df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,POPULATION_GROUP_CODE,...,TOTAL_OFFENDER_COUNT,OFFENDER_RACE,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,City,AR,Arkansas,West South Central,South,5,...,1,White,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,City,AR,Arkansas,West South Central,South,6,...,1,Black or African American,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,City,AR,Arkansas,West South Central,South,3,...,1,Black or African American,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,City,AR,Arkansas,West South Central,South,3,...,1,Black or African American,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,City,AR,Arkansas,West South Central,South,3,...,1,Black or African American,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199797 entries, 0 to 201402
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   INCIDENT_ID               199797 non-null  object
 1   DATA_YEAR                 199797 non-null  int64
 2   ORI                       199797 non-null  object
 3   PUB_AGENCY_NAME           199797 non-null  object
 4   AGENCY_TYPE_NAME          199797 non-null  object
 5   STATE_ABBR                199797 non-null  object
 6   STATE_NAME                199797 non-null  object
 7   DIVISION_NAME             199797 non-null  object
 8   REGION_NAME               199797 non-null  object
 9   POPULATION_GROUP_CODE     199797 non-null  object
 10  POPULATION_GROUP_DESC     199797 non-null  object
 11  INCIDENT_DATE             199797 non-null  object
 12  TOTAL_OFFENDER_COUNT      199797 non-null  int64
 13  OFFENDER_RACE             199797 non-null  object
 14  VICTIM_COUNT              199797 non-null  int64
 15  OFFENSE_NAME              199797 non-null  object
 16  TOTAL_INDIVIDUAL_VICTIMS  199797 non-null  float64
 17  LOCATION_NAME             199797 non-null  object
 18  BIAS_DESC                 199797 non-null  object
 19  VICTIM_TYPES              199797 non-null  object
 20  MULTIPLE_OFFENSE          199797 non-null  object
 21  MULTIPLE_BIAS             199797 non-null  object
dtypes: float64(1), int64(3), object(18)
memory usage: 35.1+ MB

In [26]:
# Export 
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'hate_crime_wrangled.csv'))